#board {
  --board-size: min(80vw, 80vh);
  --stone-color-white: white;
  --stone-color-black: #3498db;
  display: grid;
  width: var(--board-size);
  height: var(--board-size);
  position: relative;
}

.grid-item {
  position: relative;
  overflow: visible;
  cursor: pointer;
}

.grid-item:has(span.white), .grid-item:has(span.black) {
  cursor: default;
}

.grid-item::before,
.grid-item::after {
  content: '';
  position: absolute;
}

/* Vertical Line */
.grid-item::before {
  width: 1px;
  height: 100%;
  left: 50%;
  top: 50%;
  background-color: var(--border-before-color, black);
}

/* Horizontal Line */
.grid-item::after {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 50%;
  background-color: var(--border-after-color, black);
}

.stone {
  content: '';
  display: block;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* This ensures the circle stays above the lines */
  transition: opacity 0.2s ease;
}

.stone.empty {
  opacity: 0;
}

.stone.black {
  background-color: #3498db;
  opacity: 1;
}

.stone.white {
  background-color: white;
  opacity: 1;
}

@keyframes pulse {
  0% {
      opacity: 0.7;
  }
  50% {
      opacity: 0.8;
  }
  100% {
      opacity: 0.7;
  }
}

.grid-item:hover span:not(.white):not(.black) {
  background-color: var(--stone-hover-color);
  opacity: 0.8;
  animation: pulse 1s infinite;
}
